node_modules
.git
.gitignore
.env
.nyc_output
coverage
.eslintrc.js
.babelrc
.editorconfig
.prettierrc
.prettierignore
src
public
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package.json
package-lock.json
vite.config.js
tsconfig.json